body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 3.5rem;
  color: #1d458a;
}

p{
   margin: 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
   color: #1d458a;
}


h3 {
  font-family: 'Montserrat', sans-serif;
  color: #1d458a;
}

a {
  color: #1d458a;
}

hr{
   border-style: dotted none none none;
   border-width: 5px;
   border-color: #14274E;
   width: 5%;
   margin: 100px auto;
}

.big{
  font-size: 2rem;
}

.top-container {
  padding-top: 100px;
  position: relative;
  background-color: white;
}

.middle-container {
  background-color: #ebf2fa;
  padding-bottom: 50px;
 }


.bottom-container {
  padding: 50px 20px;
  background-color: #1d458a;
  color: white;
}

.progg {
  width: 70%;
  padding-top: 45px;
}

.profile-pic {
  width: 15%
}

.profile{
  padding: 100px 0 0;
 }

.skill-row {
   width: 50%;
   text-align: left;
  line-height: 2;
  margin: 30px auto;
  padding: 50px 0;
}

.skills{
 }

.coding-img{
  float: left;
  width: 25%;
  margin-right: 30px;
}

.design-img{
  float: right;
  width: 25%;
  margin-left: 30px;
  }


.footer-link {
  color: white;
  text-decoration: none;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;

}

.footer-link:hover{
  color: orange;
}

.underline {
  text-decoration: underline;
}

.contact-me{
   width: 40%;
  margin: auto ;
  line-height: 2;
}

.btn {
  background: #1d458a;
  background-image: -webkit-linear-gradient(top, #1d458a, #2980b9);
  background-image: -moz-linear-gradient(top, #1d458a, #2980b9);
  background-image: -ms-linear-gradient(top, #1d458a, #2980b9);
  background-image: -o-linear-gradient(top, #1d458a, #2980b9);
  background-image: linear-gradient(to bottom, #1d458a, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
 }

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.mybtn{
  margin: 40px auto 80px;
}

.copyright{
  margin-top: 50px;

}

#copyR{
  font-size: 0.8rem;
}

.coding{
  margin-top: 20px;
    padding-top: 50px;
}

.design{
  margin-bottom: 80px;
}
